<!DOCTYPE html>
<html lang="hu">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <title>Giuseppe's Autos</title>
    <link rel="icon" href="imgs/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    
    <script src="/js/index.js" defer></script>
    <script src="/js/copy.js" defer></script>

    <style>
        .carousel-inner {
            width: 70%;
            height: 70%;
            margin: auto;
        }
    </style>
</head>

<body style="overflow-x:hidden;">

    <!-----Navbar---->

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark m-auto p-3"
        style="z-index: 9; position: fixed; top: 0; width: 100%; transition: 0.4;">

        <a class="nav-brand active" href="./"><img id="m_logo" src="imgs/logo.png"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar">
            <ul class="navbar-nav">
				<li class="nav-item">
					<a href="katalogus" class="nav-link"><img style="position: fixed; right: 200px;" src="imgs/katalogus.png"><br>
					<hr>
					<i>Katalógus</i>
					</a>
				</li>
                <li class="nav-item">
					<a href="partnereink" class="nav-link"><img style="position: fixed; right: 106px;" src="imgs/partnereink.png"><br>
					<hr>
					<i>Partnereink</i>
					</a>
				</li>
				<li class="nav-item">
					<a href="rolunk" class="nav-link"><img style="position: fixed; right: 33px;" src="imgs/rolunk.png"><br>
					<hr>
					<i>Rólunk</i>
					</a>
				</li>
                
            </ul>
                
            </ul>
        </div>
    </nav>
    <div class="dummy bg-dark"></div>

    <!---Tartalom-->

    <div class="container-fluid wh-100 d-flex p-0 pb-5">
        <div class="flex-fill">
            <div class="pb-4 bg-dark">
                <div id="carousel" class="carousel slide w-100 m-auto" data-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        
                    </div>
                    <!-- Slide -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
						<a href="https://cdn.discordapp.com/attachments/690843416275320833/855021207174512670/Komedia_Hetilap_6.kiadas_2021.06.17.pdf" target="_blank">
                            <img class="d-block w-100" src="/imgs/komedia.png">
							</a>
                        </div>
                        <div class="carousel-item">
			<a href="https://cdn.discordapp.com/attachments/839880538055507989/847919056895213599/bbc-Etlap.png" target="_blank">
                            <img class="d-block w-100" src="/imgs/bbc.png"></a>
                        </div>
			<div class="carousel-item">
                            <img class="d-block w-100" src="/imgs/octopus.png">
							</a>
                        </div>
                    </div>
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark footer fixed-bottom">
        <div class="text-white text-end pb-3 pe-3 mt-3">
            <span>&#169 <%= new Date().getFullYear() %>. Giuseppe's Autos | Minden jog fenntartva!</span>
        </div>
    </footer>
</body>

</html>
